ul {
  display: flex;
  flex-wrap: wrap;
}

li {
  width: 100%;
  height: 10rem;
  flex-shrink: 0;
}

@media (min-width: 400px) {
  li {
    width: 50%;
  }
}

@media (min-width: 800px) { 
  li {
    width: 33%;
  }
}

.product-card {
  display: flex;
  height: 100%;
}